@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800&family=Raleway:wght@500;600;700;800;900&display=swap');

*{
    border: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

/* set background image to not repeat and cover the entire background */
body{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #111;
}

/* nav */
nav{
    position: fixed;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 5;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 0;
}

nav ul li a{
    display: block;
    /* 15px : top bottom, 20px : left right */
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover{
    background-color: #555;
    
}

.fluid{
    position: relative;
    padding: 0px;
}

.fluid h1{
    padding-top: 60px;
    padding-bottom: 30px;
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.fluid-container{
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    background-image: -webkit-gradient(linear,
        80 bottom, 
        left 60,
        color-stop(0,rgb(91,135,115)),
        color-stop(0,rgb(66,110,110))
        
    )
}

.fluid-container img:hover{
    transform: scale(1.3);
    opacity: 0.8;
}

#animal-gallery .cute-animals{
    width: 250px;
    height: 150px;
}

/* Card Gallery */
.card{
    position: relative;
    padding: 50px;
    width: 90%;
    text-align: center;
    margin-top: 0;
}

.card-h1{
    position: relative;
    width: 100%;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 50px;
    padding-top: 10px;

}

.card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 40px;
    margin-bottom: 50px;
}

a:link{
    text-decoration: none;
}

.photocard .img-box{
    position: relative;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.422);
}

.card-img{
    width: 100%;
    height: 200px;
    object-fit: cover;

}

.img-box:hover{
    transform: scale(1.3);
    opacity: 0.8;
}

.card-content{
    background: #f4f0f0;
    margin: 0px;
}
.photo-text{
    font-size: 12px;
    color: black;
    line-height: 1.6;
    letter-spacing: 0.4px;
    margin-bottom: 15px;
}

/* image slider */
.image-slider{
    position: relative;
    padding-top: 50px;
    width: 100%;
    text-align: center;
    background-image: -webkit-gradient(linear,
        80 bottom,
        left 60,
        color-stop(0,rgb(255,148,132)),
        color-stop(0.35,rgb(154,189,148)),
        color-stop(0.90,rgb(67, 137, 180)),
    );
}

.image-container img{
    width: 1000px;
    height: 500px;
}

.image-slider h1{
    padding-bottom: 10px;
    color: #ffffff;
    font-family: 'Raleway',sans-serif;
    text-align: center;
}

.slider{
    width: 1000px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-container{
    width: 3000px;
    height: 400px;
    clear: both;
    position: relative;
    transition: left 2s;

}

#slide-1:target~.image-container{
    left: 0px;
}

#slide-2:target~.image-container{
    left: -1000px;
}

#slide-3:target~.image-container{
    left: -2000px;
}